[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = bundle/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "bundle/cscope_macros.vim"]
	path = bundle/cscope_macros.vim
	url = https://github.com/vim-scripts/cscope_macros.vim
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/nickspinale/vim-colors-solarized
[submodule "bundle/vim-dirvish"]
	path = bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
